body {
    padding: 3rem;
    background: url(https://rikardssonsbygg.robinsmediateam.dev/assets/backgroundimage.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
    color: white;
}

a {
    color: white;
    text-decoration: underline;
}


/* .hero {
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center 65%;
    background-image: url(https://rikardssonsbygg.robinsmediateam.dev/assets/picture-1200.jpg);
} */

/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.479);
}

nav a {
    padding: 0rem 2rem;
    color: white;
    text-decoration: none;
}

nav a:hover,
.mobile-nav a:hover,
.mobile-nav a.icon:hover {
    background-color: white;
    fill: black;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

.mobile-nav {
    overflow: hidden;
    background-color: black;
    position: relative;
    display: none;
}

.mobile-nav #myLinks {
    display: none;
}

.mobile-nav a {
    color: white;
    padding: .3rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    display: block;
}

.mobile-nav a.icon {
    background: black;
    fill:white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Page content */
#page {
    margin: 1rem 0rem;
    display: flex;
    flex-direction: row;
}
  
#sidebar {
    flex: 0 0 10rem;
    margin: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.479);
}

.day {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#content {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0);
    /* flex-grow: 4; */
}

/* Mobile optimisation */
@media only screen and (max-width: 720px) {
    #page {
        flex-direction: column;
    }

    .mobile-nav {
        display: block;
    }

    nav {
        display: none;
    }
}

/* 
  Adapted from 
  https://codepen.io/ran0904/pen/bNpLvX
*/
.gallery {
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  transition: 0.1s transform;
  transform: translateZ(0);
  max-height: 250px;
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.8, 1.8);
  transition: 0.3s transform;
}

#gallery {
  background-color: rgba(0, 0, 0, 0);
}

.cf:before,
.cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}
